body {
    min-width: 100%;
    margin: 0;
    background-color: rgb(248, 209, 137);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(0, 0, 0);
}

.container {
    width: 100%;
    overflow: hidden;
}

#main-header {
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 2px 2px black;
    color: rgb(240, 199, 123);
    background-image: url(../img/spotlight.jpg);
    background-size: cover;
}

#navbar {
    background-color: rgb(246, 219, 168);
    margin: 0;
    padding: 0.2em;
}

#navbar ul {
    list-style: square;
    padding: 0;
    margin: 10px;
}

#navbar li {
    display: inline;
}

#navbar a {
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
    color: rgb(2, 75, 82);
}

#navbar a:hover {
    color: rgb(132, 118, 221);
    text-decoration: underline;
}

#main-block {
    margin: 1rem;
}

#main-block .setup {
    text-align: center;
}

#box1, #box2 {
    display: flex;
}


#box1 .left-side, #box2 .left-side {
    flex: 2;
}

#box1 .left-side ul {
    list-style-type: square;
}

#box1 .right-side, #box2 .right-side {
    flex: 1;
}

#box2 .left-side, #box2 .right-side {
    border: solid;
    text-align: center;
    margin: 1px;
}

#box2 .left-side img {
    padding: 0px 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(211, 40, 40);
}
